<% provide(:title, "Community Partnerships") %>


<div class="sidenav">
  <ul class="menu">
    <li><%= link_to "Back to top", "#" %></li>
    <li><%= link_to "Place, Community & Anti-Racism", "#section1" %></li>
      <ul>
        <li><%= link_to "Historical Context", "#section1.1" %></li>
        <li><%= link_to "Asset Mapping & Community Agency", "#section1.2" %></li>
        <li><%= link_to "Stakeholders/Gatekeepers/ Informants", "#section1.3" %></li>
      </ul>
    <li><%= link_to "Building Equitable Relationships", "#section2" %></li>
      <ul>
        <li><%= link_to "Cultural Competency, Humility, and Empathy", "#section2.1" %></li>
        <li><%= link_to "Public Impact Spectrum", "#section2.2" %></li>
        <li><%= link_to "Co-Creation & Equity-Centered Design", "#section2.3" %></li>
        <li><%= link_to "Capacity Building", "#section2.4" %></li>
      </ul>
    <li><%= link_to "Citation", "#section3" %></li>
   </ul>
</div>

<!--content-->
<div class = "main">
  <!--Page Title-->
  <h1>Community Partnerships</h1>
  
  <div id="section1">
    <h2>1. Place, Community & Anti-Racism</h2>
    <div id="section1.1"> 
      <h3> 1.1 Historical Context  </h3>
      <p>
        Understand and Get to Know the Area You Wish to Collaborate With
      </p><p>
        There is a need to unlearn our perceptions of the identity of a space because such information has traditionally been taught from the position of power over the narrative (Creative Reaction Lab).Grinnell College offers a unique resource for its faculty, the Social Justice Tour. It is an in-person and remote tour of the Grinnell region which highlights the systems at play which affect poverty education, wellness, and social mobility in the community. The social justice tour embodies the belief that in order to create and maintain mutually beneficial community-university relationships, the academic institution’s participants are much better prepared when they have the historical context of the community and associated histories of inequality.
      </p><p>
      </p><p>
        What is community <span data-placement="top" data-toggle="tooltip" title="Asset mapping is the process of identifying and recording community resources/organizations/individuals (cultural, economic, social, spatial) to understand and/or study a specific region. Such data can be utilized when designing community engaged projects to better serve the community's needs and strengths.">
<span><b>asset mapping</b></span>
</span>?
      </p><p>
        It is a strengths-based approach to community development. It is meant to document a community’s resources by identifying institutions, organizations, individuals, etc. that are knowledgeable resources. Approaching communities members and organizations from this perspective empowers them to recognize and harness the abilities, ideas, and resources they already hold. Without framing the service component to a community engaged class in the context of community strengths and assets, students may create assumptions that the community has nothing to offer in terms of learning. It is, in fact, the capacities of community members which can build sustainable innovation (Duncan).
      </p><p>
        There are different types of asset mapping including cultural and community relationship mapping. Cultural mapping documents cultural resources in a community, and may look at long-term customs or traditions or bring self-awareness to the unique histories and identities of a region. Community relationship mapping links organizations and how missions across the region may be able to better collaborate or indicate gaps in linkage.
      </p>
    </div>
    <div id="section1.2"> 
      <h3>1.2 Asset Mapping & Community Agency   </h3>
      <p>
      Key Questions to reflect on before beginning community <span data-placement="top" data-toggle="tooltip" title="Asset mapping is the process of identifying and recording community resources/organizations/individuals (cultural, economic, social, spatial) to understand and/or study a specific region. Such data can be utilized when designing community engaged projects to better serve the community's needs and strengths.">
<span><b>asset mapping</b></span>
</span> (ABCD Report,Duncan):
      <ul>
        <li>What is your organization’s relationship to community residents?</li>
        <li>How accountable is your organization to the people and community it serves?</li>
        <li>How do you define and engage constituents? What power do they have? </li>
        <li>How does your institution seek to strengthen community relationships? </li>
        <li>What can you do to make your partnership more asset-based? </li>
        <li>Who do you hire from the town/city/neighborhood?</li>
        <li>Which groups do you belong to or meet with regularly? </li>
        <li>What do you feel you contribute to the town/city/neighborhood and what else might you contribute?</li>
      </ul>
      </p><p>
        Guidelines for Creating & Maintaining Meaningful Community-Engaged Partnerships
      </p><p>
        When forming intentional partnerships, the Grinnell College community subscribes to and practices the certain key principles in all service, social innovation, and volunteer work. These principles guide in creating and sustaining healthy, reciprocal relationships.
      <ul>
        <li>Partnerships form to serve a specific purpose and may take on new goals over time.</li>
        <li>Partners actively strive to understand each other's needs and self-interests, and develop a common language.</li>
        <li>The partnership builds upon identified strengths and assets, but also works to address needs and increase capacity or growth of all partners.</li>
        <li>The partnership seeks to balance power and share resources among partners.</li>
        <li>All partners have input in establishing clearly articulated principles and processes for the partnership.</li>
        <li>Partners seek to agree upon a mission, values, goals, measurable outcomes, and accountability for their partnership.</li>
        <li>There is feedback among all stakeholders in the partnership, with the goal of continuously improving the partnership and its outcomes.</li>
        <li>Partners share the benefits of the partnership's accomplishments.</li>
        <li>Partnerships can dissolve and may need to plan a process for closure.</li>
      </ul>
      </p>
    </div>
     <div id="section1.3"> 
      <h3>1.3 Stakeholders/Gatekeepers/Informants </h3>
      <p>
        Building Community Partnerships for Community Engaged Learning
      </p><p>
        One way to begin building community partnerships is through interviewing gatekeepers, key informants and stakeholders.
      </p><p>
        Community input is vital in beginning to build a community engaged project, and gatekeepers, key informants, and stakeholders need to be communicated with during and after a course or initiative has completed- where they are treated as leaders and decision-makers throughout the entire process. 
      </p><p>
        Gatekeepers are community members and experts that are well known and hold respect in the community among its formally and informally identified leaders.
      </p><p>
        Key informants have contributed time and work in the community and have specialized knowledge about the community.
      </p><p>
        Stakeholders are the individuals or groups affected by issues and partnerships.
      </p><p>
        Stakeholders
      <ul>
        <li>Who will be affected by this community-university collaboration?</li>
        <li>Who may receive the positive or negative results of the partnership?</li>
        <li>What is the cost/benefit position of all stakeholders involved?</li>
      </ul>
      </p><p>
        Stakeholders groups and individuals should be linked to specific engagement goals.
      </p><p>
        This includes (1) creating a communication line to inform and consult (2) ongoing collaboration opportunities including dialogue and deliberation (3) sharing leadership and supporting stakeholders in implementing goals and solutions (PSU).
      </p><p>
        You should not expect to approach each community partner in the same way. It is important to understand your audience and communicate in a way that is attune to the partner’s lens and perspectives. Ask open ended questions, where sharing stories of the community is welcomed and respected.
      </p>
    </div>
  </div>
  
  <div id="section2">
    <h2>2. Building Equitable Relationships</h2>
   
    <div id="section2.1"> 
      <h3>2.1 Cultural Competency, Humility, and Empathy  </h3>
      <p>
        Partnerships with universities are often not at the forefront of community member participation because of a variety of social, economic, and cultural responsibilities and barriers.The privilege of time can limit the involvement of community partners and members who are willing and interested in collaboration. Therefore, it is integral that partnerships reflect values, structures, and systems that meet the needs and responsibilities of the community.
      </p><p>
        <span data-placement="top" data-toggle="tooltip" title="Cultural competency allows you to collaborate effectively with individuals or groups who come from diverse ethnic, racial, religious, or economic perspectives and experiences.">
<span><b>Cultural competency</b></span></span>, humility, and <span data-placement="top" data-toggle="tooltip" title="Empathy is the active intention of understanding another’s point of view by imagining how you would feel, think, or act in their situation (Creative Reaction Lab).">
<span><b>empathy</b></span></span> are ongoing skills to develop in working with community partners (Giachello, 2007) as “equal partnerships have yet to be realized on a broad scale...partnerships are often driven by priorities and requirements funding agencies and higher education institutions (CCPH, 2007).” Knowledge and application of this uneven terrain is a first step to creating more sustainable relationships and projects. 
      </p><p>
        Cultural competency allows you to collaborate effectively with individuals or groups who come from diverse ethnic, racial, religious, or economic perspectives and experiences
      </p><p>
        Cultural humility is the continuous self-reflection and self-awareness of power imbalances when seeking to understand another’s emotions, ideas, experiences and a commitment to developing equitable partnerships for change.
      </p><p>
        Empathy is the active intention of understanding another’s point of view by imagining how you would feel, think, or act in their situation (CRL).
      </p>
    </div>
    <div id="section2.2"> 
      <h3>2.2 Public Impact Spectrum </h3>
      <p>
        How to Make Community Partnerships Work
      </p><p>
        Public Participation Spectrum
      </p><p>
        The public participation spectrum represents the goals and promises made to community partners and/or members when conducting interorganizational partnerships.
      </p><p>
        The spectrum has 5 stages: (1) inform, (2) consult, (3) involve, (4) collaborate, (5) empower
      </p>
      <%= image_tag("image2.2.2.jpg", class: "image")%>
    </div>
    <div id="section2.3"> 
      <h3>2.3 Co-Creation & Equity-Centered Design </h3>
      <p>
        What is <span data-placement="top" data-toggle="tooltip" title="Co-creation is the process of creating and designing ideas, projects, processes with others in on-going collaboration. Co-creation benefits from identifying and highlighting shared values and building a sense a trust between partners before commencing collaboration.">
<span><b>co-creation</b></span></span>?
      </p><p>
        In dreaming and then articulating an action plan, co-creation is key.
      </p><p>
        A key part of community partnerships is the method of co-creation. Co-creation sees equal collaboration as central to social innovation and change-making.
      </p><p>
        Social innovation is defined as development and implementation of new ideas to meet social issues and challenges (Pulford et. al).
      </p><p>
        Furthermore, co-creation is a key piece of equity centered community design, which exists at the intersection of community development, problem solving, and equitable outcomes. Anyone can be an equity designer- being anyone who has the agency to make decisions that can impact people or spaces (Creative Reaction Lab Field Guide). To dismantle unequal systems for equity centered design, one first must understand how these systems currently function. Understand if you are part of the system(s) and how.
      </p><p>
        POWER
      <ul>
          <li>What kinds of power do you hold that are helpful to yourself and others?</li>
          <li>What kinds of power do you hold that can be harmful?</li>
          <li>Are there ways you can share your power, reposition, or give it up ?</li>
      </ul>
      </p><p>
        “Every decision we make has an impact on equity.”
      </p><p>
        When we co-create, the safe space of multiple and diverse voices only can enrichen knowledge building, problem solving, and implementation methods. 
      <ul>
        <li>Co-creation allows us to identify and celebrate shared values in a partnership and move away from focusing on individual contributions and towards teamwork and end results.</li>
        <li>There is no one way to co-create as it varies from situation to situation.</li>
        <li>Knowledge is understood as the driving point of collaboration, not positionality - recognize the vital role of community experts in community engaged work.</li>
        <li>Failure is recognized as part of the process.</li>
        <li>Consider the differences between co-creation and community participation and dialogue...Is everyone an active member?</li>
        <li>Furthermore, co-creation seeks design that leads to social sustainability. What does quality look like and how can we grow projects that work?</li>
      </ul>
      </p>
    </div>
    
    <div id="section2.4"> 
      <h3>2.4 Capacity Building </h3>
      <p>
        What is capacity building?
      </p><p>
        In order for change to take place in the community, partnerships need to be sustained. Capacity building is the process of creating and maintaining resources which are meant to last and that hold active and future value to the individuals and groups who have access to them. Capacity building projects support an organization's ability to not only survive but hopefully, thrive.
      </p><p>
        Transformational  capacity building creates systems and structures that can help address and overcome challenges and considers the intersectional factors at hand. For example, capacity building that is transformational should not assimilate to white professionalism values including individualism, technical solutions, written word, or productivity. An ‘obsession’ with effectiveness can actually cause more harm than good. Understanding what capacity looks like changes from organization to organization (Nishimura et. al, 2020).
      <ul>
        <li>Build culturally sound relationships rooted in trust through an understanding of cultural dynamics of the community. Transparency and vulnerability must exist on all sides.</li>
        <li>Consider the larger ecosystem. What do collective actions toward capacity look like?</li>
        <li>When possible, support and champion the development and well-being of community leaders. See the positive possibilities of power when it is equitably distributed.</li>
      </ul>
      </p>
      <%= image_tag("image2.2.4.png", class: "image")%>
      <p>
        Logic Modeling
      </p><p>
        Community-university partnerships are organizational relationships with many moving parts. Setting expectations and understanding what resources are available from your own institution is an important first step. Planning needs to be inclusive, from defining the purpose and needs of the partnership to establishing attainable learning goals for students.
      </p><p>
        Once a solid relationship has been formed with a community partner or group and you feel ready to articulate your interest in co-creation, make your proposal clear- in that roles are transparent and it is understood what is expected of each party. Sharing a common set of standards can guide follow through of initiatives and support mutually beneficial results.
      </p><p>
        Furthermore, partnerships for engagement should look at the potential of sustained effort and social change that put quality first.
      </p><p>
        A logic model can help assess this potential outcome for change. A logic model is a picture of how your project/idea is supposed to function. It explains how and why a strategy is a good solution to the issue of focus. A logic model is also referred to as a road map or conceptual map, blueprint, casual chain or program framework. Logic models consider how certain elements and relationships work together.
      <ul>
        <li>Example Maps & Blank Maps from Community Toolbox (pg.11-15)</li>
      </ul>
      </p>
      <%= image_tag("image2.2.4(2).png", class: "image")%>
    </div>
  </div>
  
  <div id="section3">
    <h2>3. Citation</h2>
    <br>
   <p>
     Bloomgarden, Alan H.; O'Meara, Kerry Ann. (2007) Faculty Role Integration and Community Engagement: Harmony or Cacophony?  Michigan Journal of Community Service Learning, 13.
   </p><p>
     Stoecker and Elizabeth A. Tryon. (2009). The Unheard Voices: Community Organizations and Service Learning. Temple UP. 
   </p><p>
     Bacon, Nora. (2002). Differences in Faculty and Community Partners' Theories of Learning. Michigan Journal of Community Service Learning, 9. http://hdl.handle.net/2027/spo.3239521.0009.104.
   </p><p>
     Alter, Driver, Frumento, Howard, Shufstall and Whitmer (2017) Community engagement for collective action: a handbook for practitioners. Invasive Animals CRC, Australia.
   </p><p>
     Asset Mapping (1999). University Outreach and Extension University of Missouri System and Lincoln University. Retrieved from http://extension.missouri.edu/about/fy00-03/assetmapping.htm
   </p><p>
     Best Practice Briefs (1999). The several forms of “Community mapping”—2. Michigan State University. Retrieved from http://outreach.msu.edu/bpbriefs/issues/brief4.pdf
   </p><p>
     Neighborhood Trust Innovations Network (1996). Mapping community capacity. Chicago, IL: Kretzmann, J.L. & McKnight J.P. Retrieved from www.racialequitytools.org/resourcefiles/mcknight.pdf
   </p><p>
     Social Design Notes (2004). What is asset mapping? Retrieved from http://backspace.com/notes/2004/06/what-is-asset-mapping.php
   </p><p>
     Field Guide: Equity-Centered Community Design
   </p>
    
  </div>
    
  
   
</div>
 <!--</div>-->