<% provide(:title, "Course Design") %>


<div class="sidenav">
  <ul class="menu">
    <li><%= link_to "Back to top", "#" %></li>
    <li><%= link_to "Getting Started", "#section1" %></li>
      <ul>
        <li><%= link_to "Assessing Prior Knowledge", "#section1.1" %></li>
        <li><%= link_to "Theories of Learning & C-EL", "#section1.2" %></li>
        <li><%= link_to "Anti-Racism & C-EL Pedagogy", "#section1.3" %></li>
      </ul>
    <li><%= link_to "Checklist", "#section2" %></li>
      <ul>
        <li><%= link_to "Steps to Guide Design", "#section2.1" %></li>
        <li><%= link_to "Faculty/Student/Community Partner Roles", "#section2.2" %></li>
        <li><%= link_to "Designing Sustainability", "#section2.3" %></li>
      </ul>
   </ul>
</div>

<!--content-->
<div class = "main">
  <!--Page Title-->
  <h1>Course Design</h1>
  
  <div id="section1">
    <h2>1. Getting Started</h2>
    <div id="section1.1"> 
      <h3> 1.1 Assessing Prior Knowledge  </h3>
      <p>
        Assessing Prior Knowledge
      </p><p>
        One way to identify student gaps in shaping your syllabus can be through designing and implementing a background knowledge assessment.
      <ul>
        <li>Determine what students already may know </li>
        <li>Target gaps in learning or assumptions/misconceptions related to the discipline</li>
        <li>Link student’s previous knowledge to new course material</li>
        <li>Assessments should be anonymous and clarify it is an ungraded assignment. Qualtrics can be used to create, share, and process the questions. Share data collected with students and have transparency in the data’s use.</li>
      </ul>
      </p><p>
        What does learning look like between faculty, students, and community partners?
      </p>
    </div>
    <div id="section1.2"> 
      <h3>1.2 Theories of learning & cel</h3>
      <p>
        For faculty who are interested in and prepared to incorporate civic pedagogies into the classroom, there is real value in integrating the role of teaching and researching into community engaged work. In building community partnerships, a continued openness to what academic work looks like and what opportunities for collaboration are possible, is central to building relationships in this field: “Both academia and the non-profit sector are extremely complex and diverse but nevertheless identifiable subcultures characterized by distinctive values, goals, and worldviews. In the interest of maintaining respectful and productive service-learning partnerships, we continually seek to more deeply understand the two cultures, our common ground, and our differences” (Bacon, 2002). Faculty and community partners each come from diverse backgrounds and professional climates and may understand student learning differently.
      </p><p>
        Bacon (2002) found that faculty member’s theories of learning align traditionally with a cognitivist perspective, while community partners align more closely with a situationist perspective. Faculty, in this study, tended to see students entering into a community project with certain knowledge, and the experience with community partners allows them to break down their ideas, categorize them, and apply them to the experience. Community partners saw student learning as directly affected by experience, and that changes in behavior were factors of the experience. 
      </p><p>
        Acknowledging this dichotomy, Bacon argued that faculty must take interest in the experiences and perspectives of community partners. A merging of  cognitivist and situationist theories is ideally where partnerships land, seeing truth to both perspectives in community engaged learning.
      </p>
    </div>
     <div id="section1.3"> 
      <h3>1.3 anti-racist pedagogy & CEL</h3>
      
    </div>
  </div>
  
  <div id="section2">
    <h2>2. Checklist</h2>
   
    <div id="section2.1"> 
      <h3>2.1 Steps to Guide Design</h3>
      <p>
        Phases to Follow
      </p><p>
        3 months to 1 year prior to start of course
      </p><p>
        Develop a course structure and draft syllabus, build learning goals and student, community, and faculty roles
      </p><p>
        “Identifying a gap between the students’ current level and desired level of attitude, knowledge, or skill is key. An educational need is something individuals should learn for their own good, for the good of their organization or profession, or for the good of society” (Knowles, 1970).
      <ul>
        <li>Determine any specific funding needs (grant funding- i.e. Mellon HIA) (campus partnerships, funds)</li>
        <li>Meet with community partners to discuss scale, scope, final products and any requirements for students</li>
        <li>Identify strategies for integrating community engaged learning and traditional classroom learning with appropriate assignments, readings, lectures, speakers, discussions, field trips</li>
        <li>Select and define relevant and effective reflection exercises </li>
        <li>Develop forms for working with community partners i.e. a memorandum of understanding (MOU) </li>
      </ul>
      </p><p>
        No later than 1 month before course begins
      <ul>
        <li>Formalize course expectations and deliverables with community partner</li>
        <li>Coordinate schedule for course with community partners</li>
        <li>Finalize and confirm the MOU between Grinnell and community partners</li>
        <li>Finalize funding sources and logistics including travel if appropriate</li>
        <li>Edit and finalize syllabus.</li>
      </ul>
      </p>
    </div>
    <div id="section2.2"> 
      <h3>2.2 Faculty/Student/Community Partner Roles </h3>
      <p>
        Some important questions and pieces to reflect on when designing the course: (SUNY Binghamton/ UC Berkeley Digital Toolkits)
      </p><p>
        Faculty
      <ul>
        <li>How will community engagement fit into my scholarship and research goals?</li>
        <li>What areas of my field am I most interested in exploring?</li>
        <li>What issues are important to me and what individuals or organizations are focusing on solutions to these issues? Is there anyone on campus who is producing similar work?</li>
        <li>Do I need help getting started? Where do my own strengths lie?</li>
        <li>How much time do you have to develop and implement the course? What kind of community engaged component makes the most sense for my course?</li>
        <li>How will I prepare students for engaged work? How will I facilitate? </li>
      </ul>
      </p><p>
        Students
      <ul>
        <li>What are the learning goals for students in this course?</li>
        <li>Have I designed learning goals which reflect the needs and goals of the community partners?</li>
        <li>What will the specific role of the student look like?</li>
        <li>How much time will students spend working with community partners?</li>
        <li>How may the course impact civic engagement and professional opportunities for students involved?</li>
        <li>How do I plan to connect community engaged work to classroom content?</li>
        <li>How will I document and assess student learning?</li>
      </ul>
      </p><p>
        Communiy Partners
      <ul>
        <li>Do I need help identifying and connecting with community partners?</li>
        <li>What kind of criteria do I have for selecting community partners?</li>
        <li>Who has identified the issue being addressed in the course?</li>
        <li>What kind of skills and expertise does each individual/group bring to partnership?</li>
        <li>What role will community partners play in developing and implementing the course?</li>
        <li>What role will community partners play in evaluating student work and the course?</li>
        <li>Once the course has finished, are there possibilities for ongoing collaboration?</li>
      </ul>
      </p>
    </div>
    <div id="section2.3"> 
      <h3>2.3 Designing Sustainability </h3>
      <p>
        Developing a community engaged syllabus is a complex process but can follow a set of actions that help keep your goals and progress on track.
      </p><p>
        Refer to this checklist as you develop:
      <ul>
        <li>Have I clarified mutual learning goals with community partners?</li>
        <li>Have I made clear connections between service and coursework?</li>
        <li>Have I created and communicated clear expectations for students?</li>
        <li>Have I communicated to students the importance of respectful and appreciative relationships in working with community partners?</li>
        <li>Have I planned out the time commitments needed for quality community collaboration, (self) assessment, and reflection?</li>
        <li>Have I articulated how student work will be evaluated (journals, papers, presentations)?</li>
      </ul>
      </p><p>
        Sustainable Teaching & Learning
      </p><p>
        When designing the syllabus, it is critical to think long term. Why do we want to sustain?
      </p><p>
        “Sustainable development is development that meets the needs of the present without compromising the ability of future generations to meet their own needs.” (Vanderbilt)
      </p><p>
        What broader goals does your course seek?
      </p><p>
        What are the larger social justice issues you want your students to address?
      </p><p>
        How does the topic of your course connect to issues of diversity, equity, civic responsibility, and compassion?
      </p><p>
        The core of building sustainable community-university relationships.
      </p>
    </div>
    
  </div>
    
  
   
</div>
 