<% provide(:title, "Glossary") %>
<div style='font-size:20px'>

<%= form_for(@word) do |f| %>
    <%= f.label :word %>
    <%= f.text_field :word %>

    <%= f.label :content %>
    <%= f.text_field :content %>

    <%= f.submit "Add new word", class: "btn btn-large btn-primary" %>
<% end %>

<% @glossary.each do |word|%>
    <div>
    <strong> <%= "#{word[:word]}" %> </strong>

    <p><%= sanitize word[:content]%></p>
    </div>
<% end %>
<hr />
<hr />
</div>