<% provide(:title, "Home") %>
<%= render 'layouts/home_title'%>
<ul class="">
<li><%= link_to "About", about_path %></li>
<li><%= link_to "What Is CEL", what_is_cel_path %></li>
<li><%= link_to "Community Partnerships", community_partnerships_path %></li>
<li><%= link_to "Course Design", course_design_path %></li>
<li><%= link_to "Implementation", implementation_path %></li>
<li><%= link_to "Assessment", assessment_path %></li>
<li><%= link_to "Professional Development", professional_dev_path %></li>
</ul>
