<% provide(:title, "What is CEL") %>


<div class="sidenav">
  <ul class="menu">
    <li><%= link_to "Back to top", "#" %></li>
    <li><%= link_to "What is CEL?", "#section1" %></li>
      <ul>
        <li><%= link_to "Types of CEL", "#section1.1" %></li>
        <li><%= link_to "Community & Engagement", "#section1.2" %></li>
        <li><%= link_to "History of CEL in US", "#section1.3" %></li>
     </ul> 
    <li><%= link_to "The Liberal Arts & CEL", "#section2" %></li>
      <ul>
        <li><%= link_to "CEL at Grinnell College", "#section2.1" %></li>
        <li><%= link_to "Faculty Motivations ", "#section2.2" %></li>
      </ul>
    <li><%= link_to "Power, Privilege & Bias", "#section3" %></li>
    <li><%= link_to "Citation", "#section4" %></li>
   </ul>
</div>

<!--content-->
<div class = "main">
  
    
<!--<div id='user'>Community</div>
<div id='popup'>A community can be defined as concrete as a specific geographic region or as abstract as a group of people with a sense of shared experience/identity.</div>-->
 

<!--<span data-placement="top" data-toggle="tooltip" title="A community can be defined as concrete as a specific geographic region or as abstract as a group of people with a sense of shared experience/identity.">
<span><b>Community</b></span>
</span>-->
  
  <!--Page Title-->
  <h1>Introduction</h1>
  
  <div id="section1">
    
</span>

    <h2>1. What is community engaged learning CEL</h2>
    <div id="section1.1"> 
      <h3> 1.1 Types of C-EL Spectrum  </h3>
      <p>
        Firstly, how do we define community engagement? 
      </p><p>
        It often looks like collaboration across groups of people affiliated by region/locality and specific concerns/interests. It can bring lasting change to a community, promoting well-being and mobilizes other resources, voices, concerns, in the process (PSU). Moreover, citizens are considered engaged when they play an active role in deliberation, discussion, decision-making, and/or implementation of projects that will affect them.
      </p><p>
        Therefore, community engaged learning connects community engagement to academic coursework and is based on the premise that rigorous learning comes from experiencing one’s broader studies, combined with analysis and reflection that affects future actions (Fordham). 
      </p><p>
        At Grinnell, we understand community engaged learning as an ever evolving opportunity to enhance student learning through mutually beneficial classroom/community collaborations. Partnerships can bring <span data-placement="top" data-toggle="tooltip" title="A community can be defined as concrete as a specific geographic region or as abstract as a group of people with a sense of shared experience/identity.">
<span><b>community</b></span>
</span> expertise in the classroom or the community can function as the focal point of a project or program. Community engaged learning, while student-focused, needs to emphasize community partners and members as a priority in the learning and resource creation it entails. 
      </p>
    </div>
    <div id="section1.2"> 
      <h3>1.2 Community & Community Engagement   </h3>
      <%= image_tag("image1.1.1.png", class: "image")%>
      <p>
      When defining a given community, important questions include:
      <ul>
        <li>Who represents the community?</li>
        <li>Who has influence in the community?</li>
        <li>Are key members represented in community-based organizations?</li>
        <li>Who has the time, resources, and ability to participate and/or take responsibility for action items?</li>
        <li>Who is defined as outside the community?</li>
      </ul>
      </p><p>
      No one organization or individual represents an entire community. Rather, communities exist in various and diverse sectors of a locale (Wallerstein et al., 2005). An individual can hold a sense of belonging to multiple communities and this sense of membership can evolve or change overtime (CDC).
      </p><p>
      Oversimplifying the complexity of communities can lead to the failure of well-intentioned community initiatives (Chavis & Lee, 2015). Understanding a community and its shared identities and networks is the first step to creating community partnerships and relationships integral to community engaged learning.
      </p>
    </div>
     <div id="section1.3"> 
      <h3>1.3 A Brief History of C-EL in the US </h3>
      <p>
        Community engaged learning is not new to educational systems.The origins of community engaged learning has many outlets from diverse perspectives. At the beginning of the 19th century, American colleges and universities were becoming more prominent institutions in the civic tapestry of society. An early model for <span data-placement="top" data-toggle="tooltip" title="Civic engagement is the process of bringing students and local, regional, or national community/municipal activities together. Civic engagement can occur in the classroom, through co-curricular opportunities, or through independent student work outside of the college/university."> <span><b> civic engagement </b></span> in higher education was founded at the University of Wisconsin, Madison entitled the Wisconsin Idea. The model sought to apply specialized knowledge of students and faculty to civic issues towards a more democratic partnership between education and community networks (NLU).  Progressive education, which began in the late 19th century, offered another early theoretical base for community engaged learning to evolve in the mid to late 20th century. John Dewey, a philosopher of education, led the progressive education movement, arguing that participatory and active learning reates knowledge and citizen development, which in turn leads to social change. A progressive cooperative education model was created at the University of Cincinnati, followed by the first community junior college in Joliet, Illinois. 
      </p><p>
        As the 20th century took course, it was political and civic activism that shaped education. Education and anti-poverty leaders brought forth ideas on how to connect community and education, challenging the role of the university, the teacher, and the student. The settlement house movement and its champion, Jane Addams of Chicago, offered educational and employment resources to the urban poor, connecting learning to social reform. In the 1930s, the New Deal created the National Youth Administration which created employment and educational opportunities for young citizens. The Peace Corps followed in the 1960s. Social movements of the mid-20th century challenged universities to revise and develop courses and degrees which allowed students to study the injustices of their time and their heritage.  In the late 1970s, the National Society for Internships and Experiential Education and the National Center for Service-Learning were founded.
      </p><p>
        Nevertheless, by the 1980s, there was a growing concern around civic fragmentation and the response was to support the increase of public or community service. The U.S. economy was weaker and students looked to degrees which could readily get them hired in the workforce. Many institutions responded with a ‘market-centered’ approach. Pre-professional majors were replacing traditional liberal arts degrees (Handbook, 113). Calls from voices like John Gardner (former president of the Carnegie Foundation) stated that“higher education [needs] to be a part of the solution to widespread urban ills (22).” In 1985 there was the founding of COOL (Campus Outreach Opportunity League), Campus Compact, and the publishing of Higher Education and the American Resurgence, written by then president of Education Commission of the United States, Frank Newman. In the book, Newman states, “…If there is a crisis in education in the United States today, it is less that test scores have declined than it is that we have failed to provide the education for citizenship that is still the most significant responsibility of the nation’s schools and colleges.” This is where the institutionalizing of engaged in the modern university sought to make real change. AmeriCorps and VISTA were additionally founded in the early 1990s. While the understanding of the role of community engaged learning was still evolving, opportunities to explore and apply responsibility and purpose of higher education were more readily found on the college campus.
      </p><p>
        In the 21st century, community engaged learning has worked to acknowledge the power hierarchies inherent to community partnerships. Reflecting inequalities found both within and outside higher education, the present and future of community engaging learning is to work with community experts and members on terms that respect and acknowledge the historical politicization of knowledge. 
      </p>
    </div>
  </div>
  
  <div id="section2">
    <h2>2. The Liberal Arts & C-EL</h2>
    <p>
      The Tradition of the Liberal Arts & Community Engaged Learning
    </p><p>
    Liberal arts institutions center on critical thinking, moral and civic character, and using knowledge to improve the world (Goodman, 2014).Critical thinking embodies the epistemic, or the coming to and utilization of knowledge. Moral/civic character is considered the eudemonic, or the realization of the student, which brings overall well-being. Lastly, improving the world through knowledge is articulated as the civic, where the ability to responsibly express individual freedom and contribute to the public good (Harward, 2007). 
    </p><p>
    The goal of the liberal arts is to cultivate an ethos which creates life-long civically minded individuals. However, on most liberal arts campuses, students experience a fractured climate: “Students themselves are expected to integrate, cumulatively and developmental, what institutional structures and operations formally divide” (Harward, 2007). The classroom is understood as the singular site of academic learning, despite the rhetoric of the development of the whole student and their responsibility to the locale in which they learn. 
    </p><p>
    Personalized pedagogy can be mistaken for the <span data-placement="top" data-toggle="tooltip" title="Decolonization is the ongoing process of recognizing and dismantling inequitable systems and policies built through white supremacy and capitalism.">
<span><b>decolonial</b></span> transformation that critical community engagement seeks, an environment that  is “...less interested in decolonizing the university and more in operating as a decolonizing university (Third Uni.).” Therefore, community engaged learning acts as an excellent vehicle for true student engagement- because such courses and projects require active participation and thus have the greatest potential to “transform attitudes, behaviors, dispositions” (Harward, 2007). Evidence suggests that the more the student is involved, the more they understand how the issues they study relate to the world outside the academic classroom. This challenges students to reflect on their own responsibilities and roles in the larger mosaic of civic life.
    </p><p>
    Furthermore, students report that they feel they are surprised by how much they learn in a space where the emphasis is on experiencing what is being studied instead of simply studying(Heffner et. al, 2006).
    </p>
    <div id="section2.1"> 
      <h3>2.1 C-EL at Grinnell College  </h3>
      <p>
        At Grinnell College, a liberal arts education equips students with the language and knowledge to convey ideas, analyze and formulate issues and solutions, observe and experiment, and express creatively. 
      </p><p>
      A larger question found in the humanities  and found in the Grinnell classroom is, “In what ways have people lived together, and how should they live together?” Community engaged learning seeks to act as a bridge between the college and the local community. How can the Grinnell College community live with the larger Grinnell community? The college being an integral part of the region, coursework can become better embedded in the social, economic, and cultural networks of the town. This embedeness, when done with careful planning and equitable execution, can allow students to further the skills gained through a liberal arts education. 
      </p><p>
      In rural America, where many liberal arts colleges are located, high poverty levels are commonly found due to changing economic industries and subsequently, fewer employment options. Therefore, “It is crucial that we sensitize students to the realities of rural areas and small towns and that working in civic engagement activities in such places can be, very different…” (Schon, 1983).  It is in such climates, nonprofits and universities can act as vehicles for the community to address its unique needs and challenges (Goodman, 2014). Community engaged learning is evolving as less driven by individual faculty interests, which tend to vary, but more by the strengths and obstacles of the place in which the college is situated, to the “particularities of place” (Heffner et. al, 2006). Viewing this education as part of student and faculty life, learning can be fully integrated between personal, academic, and civic dimensions of growth.
      </p><p>
        Grinnell seeks to move from traditional ‘service learning,’ and continue to move towards critical community engaged learning. This differentiation is one that understands service components in higher education as sustainable and transformational rather than short-term and ameliorative. Students should be able to understand and reflect on why their service may be needed in the first place, looking at root causes of community issues and needs (Mitchell). 
      </p><p>
      Guiding principles of community engaged learning at Grinnell:
        <ul>
          <li>Generate reciprocal classroom/community relationships</li>
          <li>Offer students a sense of the immediate context of course content (usually within IA or a 60 mile radius of the College)</li>
          <li>Stimulate critical, reflective thinking about how knowledge, skills or insights accrued through the course may be of benefit or impact the local community</li>
          <li>Help students contemplate how community relationships, insights, or skills built in the class may be utilized in pursuit of the larger common good</li>
        </ul>
      </p>
    </div>
    <div id="section2.2"> 
      <h3>2.2 Faculty Motivations </h3>
      <p>
        Why community engaged learning? It creates opportunities for projects and initiatives to be supported, and when done ethically and with transparency, ignites engagement both within the community and university. It creates more sustainable and useful solutions by identifying and supporting local knowledge in problem solving. This builds common ground and networks for further relationship development.It increases trust in the college or university and can improve communication and collaboration in larger ways (PSU).
      </p><p>
        What factors pull certain faculty to community engaged work? What are their motivations?If community engaged learning is for you, it is important to consider your own motivations to participate. Both traditional academic professionals and engaged scholars have their unique strengths and value knowledge, but the engaged scholar has more committed interest in communicating the knowledge externally. 
      </p><p>
        No matter the positionality of faculty, there should be a sense of the public purpose of higher education in one’s work (Koritz et. al, 2016).One may look to two major sets of influences, those that are (1) intrinsic, and those that are (2) extrinsic.  Intrinsic looks at how work is done and how it may affect faculty, and the autonomy and feedback associated with the work. Extrinsic focuses on outside factors like environment and conditions of how the work is done. It is the balance between the two that seems to determine faculty motivations- between self and social knowledge (Omeara, 2007).Furthermore, it is important to consider what faculty are learning through community engaged work that continually draws them to cultivating partnerships outside academia.
      </p>
      <ul>
        <li>Motivations broken down
          <p>
          ( Adapted from Omeara, 2007) One type of motivation is not necessarily better than another and it is truly in understanding why Faculty become involved, that the institution can better support community engaged learning.
          </p>
        </li>
        <li>Facilitating student learning and growth
          <p> 
            Goal of increasing student understanding of course material, enhancing critical thinking and developing a civic consciousness
          </p>
        </li>
        <li>Perceived fit between discipline and engagement
          <p>
          If discipline seems to fits into community engaged learning opportunitiesPersonal/Professional identity - who one is, what they have accomplished, and their goals for the future
          </p>
        </li>
        <li>Rigorous scholarship and learning
          <p>
            Belief in community engaged learning as cutting-edge for discipline/community
          </p>
        </li>
        <li>Collaboration, relationships, public-making 
          <p>
            Colleague, student, staff collegiality and partnershipsInstitution type, mission, appointment type - (reward) system/positionality in favor of faculty engagementIn considering community engaged work as faculty,  it is helpful to expand what scholarship and service can look like.
          </p>
        </li>
        <li>Scholarship
          <p>
            In community engaged learning, scholarship can be considered not only the discovery of knowledge, but also integration with other disciplines as well as applying knowledge and teaching it an innovative way“The scholarship of integration involves synthesizing knowledge, making connections across disciplines, and reexamining findings to identify new meanings that may lead to more comprehensive understanding (Wagner, 2017).”
          </p>
        </li>
        <li>Service
          <p>
          Service can hold academic rigor and add depth and value to any discipline. Students are exposed to methods of identifying and addressing problems, supporting long-term visions and solutions.
          </p>
        </li>
      </ul>
    </div>
  </div>
    
  <div id="section3">
    <h2>3. Power, Privilege, & Bias in Campus-Community Partnerships</h2>
    <br>
    <h3>3.1 Power & Privilege</h3>
    <p>
      Despite the social justice orientation often found in community engaged learning classes, the demographics of the students which either choose to enroll and/or have the privilege to enroll, lack diversity. The whiteness of higher education impacts all sections of academic experience, from what literature is studied, to the applications seen in service learning.“Nearly every community-campus partnership is well-meaning but imbalanced, rife with challenges related to the unequal distribution of wealth, resources, power, and access” (Peterson, 2018).
    </p><p>
      Higher education reflects institutionalized inequalities, and community engaged learning is no exception.Moreover, “The invisibility and normative privileges of witness shape service learning and are reinforced by service learning, particularly when so many practitioners in the field assume ‘an ideal type’...one who volunteers her time, has high cultural capital, and gains from contact with the ‘other’” (Mitchell et. al, 2012). Faculty can fall into this trap as well in being too nervous to discuss racial assumptions of white students in service settings.
    </p>
    <h3>3.2 Identity & Community Engagement</h3>
    <p>
      In Paola Friere’s Pedagogy of the Oppressed (1970), Friere introduces the concept of <span data-placement="top" data-toggle="tooltip" title="The banking concept of education, as identified in Paolo Freire's 1970 publication, Pedagogy of the Oppressed, sees the teacher as the natural leader of the classroom, where students are expected to absorb and not contribute information. This form of class structure disregards the identities, experiences, and perspectives of the students.">
<span><b>‘banking education.’</b></span>
</span> Banking education reflects the traditional relationship of teacher/professor and student, where freedom of thought for the student essentially does not exist. In community engaged learning, students and community members are allowed a much larger role in the learning process, where the power of knowledge is ideally dismantled. When considering how to be more inclusive in community engaged pedagogy, the solution, according to Friere, is not to integrate underrepresented identities into a structure lacking diversity, but to transform the structure itself (Freire 1970, 74).
    </p><p>
      It is thus vital that as faculty ask:(1) who are my students, and (2) how do I know such information.
    </p><p>
      Faculty and students both should ask themselves:Why am I interested in community-engaged learning? What can I do to affect change on the issue of focus? Faculty should offer opportunities for students to connect their experiences in the field to their own backgrounds, experiences, and beliefs (Mitchell et. al, 2012).To create more critical approaches to community engaged learning, exploring identity is central- the identity of the instructor, the students, and the community partners. It is when identity is at the forefront that the complexities of social issues are most understood and power structures can be transformed (Mitchell 2017). Bringing this whole self into the class gives authentic space to reflect on the intersections of one’s values, foundations, and passions and how such identities connect and differ. Stronger relationships spanning traditional hierarchies are built as a direct result (Peterson, 2018).
    </p>
  </div>
  
  <div id="section4">
    <h2>4. Citation</h2>
    <br>
    <p>
      Heffner, Gail Gunst, Janel M. Curry, Claudia D. Beversluis. (2006). Transforming Liberal Arts Education Through Engaged Scholarship. Journal of Higher Education Outreach and Engagement, 11 (1). https://files.eric.ed.gov/fulltext/EJ1093027.pdf.
    </p><p>
      Harward, Donald. (2014, December 30). Engaged Learning and the Core Purposes of Liberal Education. Retrieved October 16, 2020, from https://www.aacu.org/publications-research/periodicals/engaged-learning-and-core-purposes-liberal-education
    </p><p>
      Goodman, Philips Hunter. (2014). The Tie That Binds: Leadership and Liberal Arts Institutions’ Civic Engagement in Rural Communities. Dissertation, College of Education and the Graduate School of the University of Central Arkansas. https://uca.edu/phdleadership/files/2012/07/Goodman-Leadership-and-Liberal-Arts-Institutions-Civic-Engagement-Commitment-in-Rural-Communities.pdf
    </p><p>
      Paperson, La. (2012). A Third University Is Possible: Contents. Retrieved October 16, 2020, from https://manifold.umn.edu/read/a-third-university-is-possible/section/d267e2f2-15aa-4484-a557-bf294627a0df
    </p><p>
      Peterson, T. H. (2018, February 22). Critical Learning, Radical Healing, and Community Engagement in Prison. Retrieved October 16, 2020, from https://www.aacu.org/diversitydemocracy/2018/winter/peterson
    </p><p>
      Mitchell, T. D., Donahue, D. M., & Young-Law, C. (2012). Service Learning as a Pedagogy of Whiteness. Equity & Excellence in Education, 45(4), 612-629. doi:10.1080/10665684.2012.715534
    </p><p>
      Lee, K., & Chavis, D. (2015, May 12). What Is Community Anyway? (SSIR). Retrieved October 16, 2020, from https://ssir.org/articles/entry/what_is_community_anyway
    </p><p>
      Morrison, Emily and Wendy Wagner. (2017). A Community-Engaged Faculty Typology: A Self-Referent Approach to Understanding Faculty Perspectives. Michigan Journal of Community Service Learning, 23(2). https://doi.org/10.3998/mjcsloa.3239521.0023.201.
    </p><p>
      Mitchell, Tania D. (2008). Traditional vs. Critical Service-Learning: Engaging the Literature to Differentiate Two Models. Michigan Journal of Community Service Learning. https://files.eric.ed.gov/fulltext/EJ831374.pdf
    </p><p>
      O’Meara, KerryAnn. (2007). Motivation for Faculty Community Engagement: Learning from Exemplars. Journal of Higher Education Outreach and Engagement, 12(1). file:///C:/Users/schifitto/Downloads/Motivationforfacultycommunityengagement-Learningfromexemplars%20(2).pdf.
    </p><p>
      Koritz, A., Schadewald, P., & Hubert, H. (2016). Civic professionalism: A pathway to practical wisdom for the liberal arts (White paper). Imagining America: Artists and Scholars in Public Life.
    </p><p>
      Busch, D. (2020). History of Service-Learning. Retrieved October 16, 2020, from https://www.socialchange101.org/history-of-service-learning/
    </p><p>
      Dolgon, C., Mitchell, T. D., & Eatman, T. K. (2019). The Cambridge handbook of service learning and community engagement. Cambridge: Cambridge University Press.
    </p>
  </div>
   
</div>
 <!--</div>-->