<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | Community Engaged Learning Toolkit</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tinymce_assets %>
    <meta name="google-site-verification" content="ZUMSX-2aPeLQeb4FAlYZZlntYEv_hnZpAbKj_Iu8YHo" />
    <script type="text/javascript" src="/assets/tinymce.js"></script>
    
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header'%>
    <div class="container">
      <h1><%= unless yield(:title).eql?("Home") 
                full_title(yield(:title)) 
              end %></h1>

      <%= yield %>
    </div>
      <%= render 'layouts/footer' %>
  </body>
</html>